<!--build:style_style1-->
    <link rel="stylesheet" href="assets/css/style1.css">
<!--/build:style_style1-->

<!--build:index1-->
    <div class="tren">
        <a href="#"><img src="assets/images/gallery-sort-1.png" alt="anh" width="194px" height="130px"></a>
        <a href="#"> <img src="assets/images/gallery-sort-2.png" alt="anh" width="187px" height="130px"></a>
        <a href="#"><img src="assets/images/gallery-sort-3.png" alt="anh" width="189px" height="130px"></a>
    </div>
    <div class="duoi">
        <a href="#"><img src="assets/images/gallery-sort-4.png" alt="anh" width="281px" height="196px"></a>
        <a href="#"> <img src="assets/images/gallery-sort-5.png" alt="anh" width="296px" height="196px"></a>
    </div>
    <div class="content">
        <p>Quán cô Tư nằm trên vỉa hè con đường Nguyễn Hữu Hào (quận 4).</p>
    </div>
<!--/build:index1-->
<!--build:style_style2-->
    <link rel="stylesheet" href="assets/css/style2.css">
<!--/build:style_style2-->

<!--build:index2-->
    <div class="head">
        <a href="#"><h3>TƯ VẤN SINH Ý NGƯỜI BỆNH GÚT</h3></a>
    </div>
    <div class="content1">
        <div class="anh">
            <a href="#"><img src="assets/images/index2.png" alt="anh" height="91px" width="91px"></a> 
        </div>
        <div class="next">
            <a href="#"><h4>Cách giúp chấm dứt bệnh gút chỉ sau 3 tháng của một kế</h4></a>
            <a href="#"><p>Chỉ sau 3 tháng, sức khỏe của chú Hỷ đã trở lại bình thường, cơn đau gút hầu như không...</p></a>
        </div>
    </div>
    <div class="content2">
        <ul>
            <li style="margin-bottom: 22px;"><a href="#"> <p id="p1">Bước tiến quan trọng tăng cường sinh lý cho người bệnh gút </p></a></li>
            <li> <a href="#"> <p id="p2">"Viagra tự nhên" giúp người bệnh gút là "mãnh hổ" phòng the </p></a></li> 
        </ul>
    </div>
    <div class="footer">
        <p><span id="email">hoangtiendan.com.vn</span> <span id="nhaTR">tài trợ thông tin</span></p>
    </div>
<!--/build:index2-->
<!--build:style_style3-->
    <link rel="stylesheet" href="assets/css/style3.css">
<!--/build:style_style3-->
<!--build:index3-->
    <div class="head">
        <a href="#"><h3>TƯ VẤN SINH Ý NGƯỜI BỆNH GÚT</h3></a>
    </div>
    <div class="content">
        <div class="stt1">
            <a href="#"><img src="assets/images/index3_1.png" alt="anh" width="66.5px" height="66.5px"></a>
            <a href="#"><p>Mắc gút vẫn "yêu" sung mãn nhờ "bí mật" của Vua voi</p></a>
        </div>
        <div class="stt2">
            <a href="#"><img src="assets/images/index3_2.png" alt="anh" width="66.5px" height="66.5px"></a>
            <a href="#"><p>Lối thoát cho người bệnh gút bị yếu sinh lý từ chuyên gia</p></a>
        </div>
        <div class="stt3">
            <a href="#"><img src="assets/images/index3_3.png" alt="anh" width="66.5px" height="66.5px"></a>
            <a href="#"><p>Đột phá mới giúp người bệnh gút luôn sung mãn</p></a>
        </div>
        <div class="stt4">
            <a href="#"><img src="assets/images/index3_4.png" alt="anh" width="66.5px" height="66.5px"></a>
            <a href="#"><p>Khám phá bí truyền giúp người mắc gút là "mãnh hổ" phòng the</p></a>
        </div>
        <div class="stt5">
            <a href="#"><img src="assets/images/index3_5.png" alt="anh" width="66.5px" height="66.5px"></a>
            <a href="#"><p>Từng muốn chết vì bệnh gút và cái kết thay đổi cuộc đời</p></a>
        </div>
    </div>
    <div class="footer">
        <p><span id="email">hoangtiendan.com.vn</span> <span id="nhaTR">tài trợ thông tin</span></p>
    </div>
<!--/build:index3-->
<!--build:style_style4-->
    <link rel="stylesheet" href="assets/css/style4.css">
<!--/build:style_style4-->

<!--build:index4-->
    <div class="head">
        <img id="anh" src="assets/images/index4_head.png" alt="anh" height="54px" width="163.3px">
        <a href="#">
            <h3>KHÁM SỨC KHỎE CHUYÊN SÂU</h3>
        </a>
    </div>
    <div class="index">
        <div class="anh">
            <a href="#"><img src="assets/images/index4.png" width="142.5px" height="142.5px"></a>
        </div>
        <a href="#">
            <p>6 lầm tưởng tai hại về vấn đề sức khỏe</p>
        </a>
        <a href="#"><span>"Loại bỏ ngay 6 lầm tưởng mà bạn luôn nghĩ là đơn giản ngay..."</span></a>
        <hr>
        <a href="#">
            <p>Những điều bác sĩ không nói với bạn!</p>
        </a>
        <hr>
        <a href="#">
            <p>Giảm 30% khám sức khỏe cá nhân tại Hồng Ngọc</p>
        </a>
        <hr>
        <a href="#">
            <p>Đang khỏe mạnh có cần đi khám sức khỏe không?</p>
        </a>
        <hr>
        <a href="#"><span id="footer">BV Hồng Ngọc</span></a>
    </div>
<!--/build:index4-->
<!--build:style_style5-->
    <link rel="stylesheet" href="assets/css/style5.css">
<!--/build:style_style5-->
<!--build:index5-->
    <div class="head">
        <div id="s1"><a href="#">
                <h3>FIFA WORLD CUP</h3>
            </a></div>
        <div id="s2"><a href="#">
                <h3>RUSSIA 2018</h3>
            </a></div>
    </div>
    <div class="tren">
        <div class="trai">
            <a href="#"><img src="assets/images/box-sport_1.png" width="251px" height="151px"></a>
        </div>
        <div class="phai">
            <a href="#">
                <h3>Argentina - Croatia: Gánh nặng ngàn cân của Messi</h3>
            </a>
            <a href="#">
                <p>(Dân trí) - Argentia đang chịu nhiều áp lực sau trận hòa Iceland. Ở lượt
                    thứ hai bảng D World Cup 2018, Messi và đồng đội sẽ hứng chịu rất nhiều sức...</p>
            </a>
        </div>
    </div>
    <div class="sliderNav">
        <a class="sliderPrev " onclick="plusSlides('-1');">&#10094;</a>
        <a class="sliderNext " onclick="plusSlides('1');">&#10095;</a>
    </div>
    <div class="duoi">
        <div class="slider fade" style="display: flex">
            <div class="stt1">
                <a href="#"><img src="assets/images/box-sport_2.png" width="142px" height="90px"></a>
                <a href="#">
                    <p>Pháp - Peru: Bước ngoặt quyết định</p>
                </a>
            </div>
            <div class="stt1">
                <a href="#"><img src="assets/images/box-sport_2.png" width="142px" height="90px"></a>
                <a href="#" style="padding-right: 7px;">
                    <p>Mohamed Salad sớm chia tay World Cup 2018</p>
                </a>
            </div>
            <div class="stt1">
                <a href="#"><img src="assets/images/box-sport_2.png" width="142px" height="90px"></a>
                <a href="#">
                    <p>Xác định hai đội đi tiếp ba đội bị loại ở World Cup</p>
                </a>
            </div>
            <div class="stt1" style="display: none">
                <a href="#"><img src="assets/images/box-sport_2.png" width="142px" height="90px"></a>
                <a href="#">
                    <p>4444444</p>
                </a>
            </div>
            <div class="stt1" style="display: none">
                <a href="#"><img src="assets/images/box-sport_2.png" width="142px" height="90px"></a>
                <a href="#">
                    <p>555555</p>
                </a>
            </div>
            <div class="stt1" style="display: none">
                <a href="#"><img src="assets/images/box-sport_2.png" width="142px" height="90px"></a>
                <a href="#">
                    <p>666666</p>
                </a>
            </div>
        </div>
    </div>
    
    </div>
    <!--/build:index5-->
    <!--build:script5-->
    <script>
        var slideIndex = 2;
        function plusSlides(n) {
            slideIndex = n*1 +slideIndex;
            showSlides(slideIndex);
        }
        function showSlides(n) {
            var slides = document.getElementsByClassName("stt1");
            if (slideIndex > slides.length-1){
                slideIndex = slides.length-1;
            }else if (slideIndex < 2){
                slideIndex = 2;
            }else{
                for (i = 0; i < slides.length; i++) {
                    slides[i].style.display = "none";
                }
                slides[slideIndex-2].style.display = "block";
                slides[slideIndex-1].style.display = "block";
                slides[slideIndex].style.display = "block";
            }
        }
    </script>
<!--/build:script5-->
<!--build:style_style6-->
    <link rel="stylesheet" href="assets/css/style6.css">
<!--/build:style_style6-->

<!-- build:index6 -->
    <div class="slideShow">
        <div class="stt">
            <a href="#"><img src="assets/images/step11_3.png" width="200px" height="126px"></a>
            <a href="#">
                <p>Ngày quốc tế Selfile đang " lừa tình" mà mọi người lại quan tâm có đáng giá nhé!</p>
            </a>
        </div>
        <div class="stt">
            <a href="#"><img src="assets/images/step11_2.png" width="200px" height="126px"></a>
            <a href="#">
                <p>Cầu thủ Morocco tố trọng tài lén lút xin áo đấu của Ronaldo</p>
            </a>
        </div>
        <div class="stt">
            <a href="#"><img src="assets/images/step11_3.png" width="200px" height="126px"></a>
            <a href="#">
                <p>Căn nhà 5 tầng ở Sài Gòn chìm trong biển lửa, hàng trăm chiến sỹ cứu hỏa mỗ lực chữa... </p>
            </a>
        </div>
        <div class="stt" style="display: none">
            <a href="#"><img src="assets/images/step11_3.png" width="200px" height="126px"></a>
            <a href="#">
                <p>Ngày quốc tế Selfile đang " lừa tình" mà mọi người lại quan tâm có đáng giá nhé!</p>
            </a>
        </div>
        <div class="stt" style="display: none">
            <a href="#"><img src="assets/images/step11_2.png" width="200px" height="126px"></a>
            <a href="#">
                <p>Cầu thủ Morocco tố trọng tài lén lút xin áo đấu của Ronaldo</p>
            </a>
        </div>
        <div class="stt" style="display: none">
            <a href="#"><img src="assets/images/step11_3.png" width="200px" height="126px"></a>
            <a href="#">
                <p>Căn nhà 5 tầng ở Sài Gòn chìm trong biển lửa, hàng trăm chiến sỹ cứu hỏa mỗ lực chữa... </p>
            </a>
        </div>
    </div>
    <div class="sliderNav">
        <a class="sliderNext" onclick="plusSlides('1')">&#10140;</a>
    </div>
    <br>

    <div style="text-align:center">
        <span class="dot" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(2)"></span>
        <span class="dot" onclick="currentSlide(3)"></span>
        <span class="dot" onclick="currentSlide(4)"></span>
    </div>
<!-- /build:index6 -->
<!-- build:script6-->
    <script>
        var slideIndex = 2;
        function plusSlides(n) {
            slideIndex = n * 1 + slideIndex;
            showSlides(slideIndex);
        }
        function currentSlide(n) {
            showSlides(slideIndex = n);
        }
        function showSlides(n) {
            var slides = document.getElementsByClassName("stt");
            var dots = document.getElementsByClassName("dot");
            if (slideIndex > slides.length - 1) {
                slideIndex = slides.length - 1;
            } else if (slideIndex < 2) {
                slideIndex = 2;
            } else {
                for (i = 0; i < slides.length; i++) {
                    slides[i].style.display = "none";
                }
                for (i = 0; i < dots.length; i++) {
                    slides[i].style.display = "none";
                }
                slides[slideIndex - 2].style.display = "block";
                slides[slideIndex - 1].style.display = "block";
                slides[slideIndex].style.display = "block";
            }

        }
    </script>
<!-- /build:script6-->
<!--build:style_style7-->
    <link rel="stylesheet" href="assets/css/style7.css">
<!--/build:style_style7-->
<!-- build:index7 -->
    <div class="slider">
        <div class="stt">
            <a href="#"> <img src="assets/images/step12_1.png" width="200px" height="126px"></a>
            <div class="content">
                <a href="#"> <p> [Tin vừa lên]</p></a>
                <a href="#" style="border-right: 1px solid rgb(212, 211, 211);"> <h3> Đến hẹn lại lên, gà YG lại bị KBS "cấm cửa" và Black Pink cũng không thoát</h3></a>
                <a href="#"> <span> Musik</span></a>
            </div>
            <div class="numbertext">1/3</div>
        </div>
        <div class="stt">
            <div class="numbertext">2/3</div>
            <a href="#"> <img src="assets/images/step11_2.png" width="200px" height="126px"></a>
            <div class="content">
            <a href="#"> <p> [Tin hot]</p></a>
            <a href="#" style="border-right: 1px solid rgb(212, 211, 211);"> <h3> Tranh cãi trong trận đấu giữa cầu thủ và trọng tài</h3></a>
            <a href="#"> <span> Thể thao</span></a>
            </div>
        </div>
        <div class="stt">
            <div class="numbertext">3/3</div>
            <a href="#"> <img src="assets/images/step11_3.png" width="200px" height="126px"></a>
            <div class="content">
            <a href="#"> <p> [Tin lên 2h]</p></a>
            <a href="#" style="border-right: 1px solid rgb(212, 211, 211);"> <h3> Cháy rừng lớn khiến cây cối rừng cháy, khói khiến động vật gột khí</h3></a>
            <a href="#"> <span> Đời sống</span></a>
        </div>
        </div>
    </div>
    <div class="sliderNav">
        <a class="sliderPrev " onclick="plusSlides(-1);">&#8710;</a>
        <a class="sliderNext " onclick="plusSlides(1);">&#8711;</a>
    </div>
    <!-- /build:index7 -->
    <!-- build:script7-->
    <script>
        var slideIndex = 1;
        showSlides(slideIndex);
        
        function plusSlides(n) {
          showSlides(slideIndex += n);
        }  
        function showSlides(n) {
          var i;
          var slides = document.getElementsByClassName("stt");
          if (n > slides.length) {slideIndex = 1}    
          if (n < 1) {slideIndex = slides.length}
          for (i = 0; i < slides.length; i++) {
              slides[i].style.display = "none";  
          }
          slides[slideIndex-1].style.display = "block";  
        }
        </script>
    <!-- /build:script7-->
</html>
<!--build:style_style8-->
<link rel="stylesheet" href="assets/css/style8.css">
<!--/build:style_style8-->

<!-- build:index8 -->
<div class="body1">
    <div class="head">
        <a href="#"><img src="assets/images/step10_head.PNG"></a>
        <a href="#">
            <h2>PHOTOSTORY</h2>
        </a>
    </div>
    <div class="text">
        <span class="dot" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(2)"></span>
        <span class="dot" onclick="currentSlide(3)"></span>
        <span class="dot" onclick="currentSlide(4)"></span>
    </div>
    <div class="slideShow">
        <div class="stt">
            <a href="#"><img src="assets/images/step10_1.png" width="209px" height="277.5px"></a>
        </div>
        <div class="stt">
            <a href="#"><img src="assets/images/step10_2.png" width="209px" height="277.5px"></a>
        </div>
        <div class="stt">
            <a href="#"><img src="assets/images/step10_1.png" width="209px" height="277.5px"></a>
        </div>
        <div class="stt" style="display: none;">
            <a href="#"><img src="assets/images/step10_2.png" width="209px" height="277.5px"></a>
        </div>
        <div class="stt" style="display: none;">
            <a href="#"><img src="assets/images/step10_1.png" width="209px" height="277.5px"></a>
        </div>
        <div class="stt" style="display: none;">
            <a href="#"><img src="assets/images/step10_2.png" width="209px" height="277.5px"></a>
        </div>
    </div>
    <div class="sliderNav">
        <a class="sliderNext" onclick="plusSlides('1')">&#10140;</a>
    </div>
    <br>


</div>
<!-- /build:index8 -->
<!-- build:script8-->
<script>
    var slideIndex = 2;
    function plusSlides(n) {
        slideIndex = n * 1 + slideIndex;
        showSlides(slideIndex);
    }
    function currentSlide(n) {
        showSlides(slideIndex = n);
    }
    function showSlides(n) {
        var slides = document.getElementsByClassName("stt");
        var dots = document.getElementsByClassName("dot");
        if (slideIndex > slides.length - 1) {
            slideIndex = slides.length - 1;
        } else if (slideIndex < 2) {
            slideIndex = 2;
        } else {
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            for (i = 0; i < dots.length; i++) {
                slides[i].style.display = "none";
            }
            slides[slideIndex - 2].style.display = "block";
            slides[slideIndex - 1].style.display = "block";
            slides[slideIndex].style.display = "block";
        }

    }
</script>
<!-- /build:script8-->

</html>
<!--build:style_style9-->
    <link rel="stylesheet" href="assets/css/style9.css">
<!--/build:style_style9-->


<!-- build:index9 -->
    <div class="body1">
        <div class="head">
            <a href="#"><h1 style="color:orangered;">e</h1></a>
            <a href="#"><h1 style="color: rgb(255, 255, 255);">Magazine</h1></a>
        </div>
        <div class="text">
            <span class="dot" onclick="currentSlide(1)"></span>
            <span class="dot" onclick="currentSlide(2)"></span>
            <span class="dot" onclick="currentSlide(3)"></span>
            <span class="dot" onclick="currentSlide(4)"></span>
        </div>
        <div class="slideShow">
            <div class="stt">
                <a href="#"><img src="assets/images/gallery_1.png" width="210px" height="131px"></a>
                <a href="#">
                    <p>Kỳ tích mang tên BTS: 10 hay 20 năm sau, họ có thể tự hào mà kể lại câu chuyện về một nhóm nhạc
                        làm nên lịch sử</p>
                </a>
            </div>
            <div class="stt">
                <a href="#"><img src="assets/images/gallery_2.png" width="210px" height="131px"></a>
                <a href="#">
                    <p>Nhật ký cai nghiện: Những chuỗi ngày chiến đấu với "quái vât" khủng khiếp nhất để giành lấy tương
                        lai</p>
                </a>
            </div>
            <div class="stt">
                <a href="#"><img src="assets/images/gallery_1.png" width="210px" height="131px"></a>
                <a href="#">
                    <p>Căn nhà 5 tầng ở Sài Gòn chìm trong biển lửa, hàng trăm chiến sỹ cứu hỏa mỗ lực chữa để cứu vót những thứ còn xót lại </p>
                </a>
            </div>
            <div class="stt" style="display: none">
                <a href="#"><img src="assets/images/gallery_2.png" width="210px" height="131px"></a>
                <a href="#">
                    <p>Bộ phim đang ăn khách nhất hiện nay là cô nàng lắm chiêu đã chinh phục nhiều giải thưởng lớn và rất nhiều khán giả trong suốt quá trình phát sóng</p>
                </a>
            </div>
            <div class="stt" style="display: none">
                <a href="#"><img src="assets/images/gallery_1.png" width="210px" height="131px"></a>
                <a href="#">
                    <p>Sau rất nhiều thời gian trong khoảng 10 hay 20 năm sau, họ có thể tự hào mà kể lại câu chuyện về một nhóm nhạc
                        làm nên lịch sử</p>
                </a>
            </div>
            <div class="stt" style="display: none">
                <a href="#"><img src="assets/images/gallery_2.png" width="210px" height="131px"></a>
                <a href="#">
                    <p>Căn nhà 5 tầng ở Sài Gòn chìm trong biển lửa, hàng trăm chiến sỹ cứu hỏa mỗ lực chữa... </p>
                </a>
            </div>
        </div>
        <div class="sliderNav">
            <a class="sliderNext" onclick="plusSlides('1')">&#10140;</a>
        </div>
        <br>
        <!-- /build:index9 -->

        <!-- build:script9-->
        <script>
            var slideIndex = 2;
            function plusSlides(n) {
                slideIndex = n * 1 + slideIndex;
                showSlides(slideIndex);
            }
            function currentSlide(n) {
                showSlides(slideIndex = n);
            }
            function showSlides(n) {
                var slides = document.getElementsByClassName("stt");
                var dots = document.getElementsByClassName("dot");
                if (slideIndex > slides.length - 1) {
                    slideIndex = slides.length - 1;
                } else if (slideIndex < 2) {
                    slideIndex = 2;
                } else {
                    for (i = 0; i < slides.length; i++) {
                        slides[i].style.display = "none";
                    }
                    for (i = 0; i < dots.length; i++) {
                        slides[i].style.display = "none";
                    }
                    slides[slideIndex - 2].style.display = "block";
                    slides[slideIndex - 1].style.display = "block";
                    slides[slideIndex].style.display = "block";
                }

            }
        </script>
<!-- /build:script9-->

</html>