@import "include/_body";
@import "include/_theA";
@import "include/_bien";
@import "include/_img";
* {
    box-sizing: border-box;
}
body {
    @include body(473px, 374px);
    font-size: 13px;
    margin-top: 10px;
    margin-left: 6px;
    font-family: $font;
    border-left: 1px solid rgb(223, 219, 219);
    border-right: 1px solid rgb(212, 211, 211);
    border-bottom: 1px solid rgb(216, 213, 213);
    border-radius: 5px;
}
a {
    @include the_a(rgb(11, 11, 12));
}
.head {
    h3 {
        color: white;
        font-size: 12px;
        padding-top: 10px;
        padding-left: 42px;
    }
    height: 30px;
    background: url(../images/box-sport_head.png);
    background-size: 473px 30px;
}
.tren {
    .trai {
        position: relative;
    }
    .phai {
        position: absolute;
        top: 48px;
        width: 196px;
        left: 285px;
        h3 {
            color: rgb(13, 13, 156);
        }
    }
    margin-top: 11px;
    margin-left: 14px;
}
.duoi {
    margin-top: 13px;
    margin-left: 14px;

    .slider {
        display: inline-flex;
        .stt1 {
            width: 226px;
            max-width: 100%;
            p {
                color: rgb(16, 16, 131);
                font-weight: 700;
            }
        }
    }
}
.sliderPrev {
    cursor: pointer;
    position: absolute;
    width: auto;
    margin-top: 23px;
    padding: 13px;
    padding-left: 18px;
    color: rgb(116, 112, 112);
    font-weight: bold;
    font-size: 30px;
    transition: 0.6s ease;
    // border-radius: 0 3px 3px 0;
    border-radius: 5px;
    user-select: none;
}
.sliderPrev:hover {
    background-color: rgba(243, 236, 236, 0.5);
}
.sliderNext {
    cursor: pointer;
    position: absolute;
    width: auto;
    padding: 13px;
    margin-top: 23px;
    right: 65.5%;
    color: rgb(116, 112, 112);
    font-weight: bold;
    font-size: 30px;
    transition: 0.6s ease;
    border-radius: 5px;
    user-select: none;
}
.sliderNext:hover {
    background-color: rgba(243, 236, 236, 0.5);
}
