@import "include/_body";
@import "include/_theA";
@import "include/_bien";
@import "include/_img";

body {
    @include body(161px, 590px);
    font-size: 12px;
    // font-weight: 700;
    margin-top: 10px;
    margin-left: 6px;
    font-family: $font;
    border-left: 1px solid rgb(223, 219, 219);
    border-right: 1px solid rgb(212, 211, 211);
    border-bottom: 1px solid rgb(216, 213, 213);
    border-radius: 5px;
}
.head {
    #anh {
        position: relative;
    }
    h3 {
        position: absolute;
        width: 160px;
        top: 8px;
        left: 16px;
        color: white;
    }
}
.index {
    .anh {
        padding-top: 7px;
    }
    p {
        font-weight: 700;
        line-height: 19px;
        font-size: 13px;
    }
    width: 154px;
}
a {
    @include the_a(rgb(42, 42, 46));
    margin-left: 6px;
}
hr {
    border: 0.1px solid rgb(243, 235, 235);
}
#footer {
    color: rgb(15, 163, 15);
    font-weight: 700;
}
