@import "include/_body";
@import "include/_theA";
@import "include/_bien";
@import "include/_img";

body {
    @include body(304px, 559px);
    font-size: 12px;
    font-weight: 700;
    margin-top: 10px;
    margin-left: 6px;
    font-family: $font;
    border-left: 1px solid rgb(223, 219, 219);
    border-right: 1px solid rgb(212, 211, 211);
    border-bottom: 1px solid rgb(216, 213, 213);
    border-radius: 5px;
    
}
a {
    @include the_a(rgb(42, 42, 46));
}
.head{
    h3{
        color: white;
        font-size: 12px;
        padding-top: 12px;
        padding-left: 11px;
    }
    height: 37px;
    background: url(../images/index_head.png);
    background-size: 304px 37px;
}
.content{
    img{
        float: left;
    }
    p{
        padding-left: 76px;
        padding-top: 16px;
    }
    .stt1{
        margin-bottom: 50px;
        p{
            margin-top: 8px;
        }
    }
    .stt2{
        margin-bottom: 50px;
    }
    .stt3{
        margin-bottom: 50px;
    }
    .stt4{
        margin-bottom: 50px;
    }
    .stt5{
        margin-bottom: 60px;
    }
    margin-left: 9px;
}
.footer{
    font-size: 12px;
    font-weight: 700;
    margin-left: 10px;
    margin-top: 25px;
    #email{
        color: rgb(189, 3, 3);
    }
    #nhaTR{
        color: gray;
    }
}