@import "include/_body";
@import "include/_theA";
@import "include/_bien";
@import "include/_img";
* {
    box-sizing: border-box;
}
body {
    @include body(572px, 362px);
    font-size: 12px;
    margin-top: 10px;
    margin-left: 6px;
    font-family: $font;
    border-left: 1px solid rgb(223, 219, 219);
    border-right: 1px solid rgb(212, 211, 211);
    border-bottom: 1px solid rgb(216, 213, 213);
    border-top: 5px solid rgb(218, 7, 7);
    border-radius: 5px;
}
a {
    @include the_a(rgb(11, 11, 12));
}
.body1 {
    background-color: rgb(34, 34, 34);
}
.head {
    display: inline-flex;
    position: relative;
    margin-left: 10px;
    margin-top: 10px;
    h2 {
        padding-left: 12px;
        margin-top: 8px;
        color: rgb(255, 255, 255);
    }
}
.slideShow {
    display: inline-flex;
    width: 98%;
    overflow-x: hidden;
    margin-left: 10px;
    .stt {
        width: 180px;
        max-width: 100%;
        height: 100%;
        margin-right: 15px;
        // display: none;
        flex-shrink: 0;
        p {
            font-weight: 700;
        }
    }
}
.sliderNext {
    cursor: pointer;
    position: absolute;
    width: auto;
    padding: 20px 1.5px 20px 1.5px;
    margin-top: -202px;
    right: 57.77%;
    color: rgb(173, 166, 166);
    font-weight: bold;
    font-size: 30px;
    transition: 0.6s ease;
    border-radius: 5px 0px 0px 5px;
    user-select: none;
}
.sliderNext:hover {
    background-color: rgba(243, 4, 4, 1);
}
.text{
    position: absolute;
    left: 504px;
    top: 33px;
    .dot {
        cursor: pointer;
        height: 7px;
        width: 7px;
        margin: 0 2px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
    }   
}
.dot:hover {
    background-color: #db0909;
}
