@import "include/_body";
@import "include/_theA";
@import "include/_bien";

body {
    @include body(594px, 392px);
    font-size: 14.5px;
    margin-top: 10px;
    margin-left: 6px;
    
}
a {
    padding: 3.5px;
    @include the_a(white);
}
.tren{
    display: inline-flex;
}
.duoi{
    display: inline-flex;
}
.content{
    margin-left: 13px;
    p{
        margin-top: 10px;
        color: rgb(61, 60, 60);
    }
}