@import "include/_body";
@import "include/_theA";
@import "include/_bien";
@import "include/_img";

body {
    @include body(304px, 284px);
    // font-size: 13px;
    margin-top: 10px;
    margin-left: 6px;
    font-family: $font;
    border-left: 1px solid rgb(223, 219, 219);
    border-right: 1px solid rgb(212, 211, 211);
    border-bottom: 1px solid rgb(216, 213, 213);
    border-radius: 5px;
    
}
a {
    @include the_a(rgb(42, 42, 46));
}
.head{
    h3{
        color: white;
        font-size: 12px;
        padding-top: 12px;
        padding-left: 11px;
    }
    height: 37px;
    background: url(../images/index_head.png);
    background-size: 304px 37px;
}
.content1{
    .anh{
        float: left;
        position: relative;
    }
    .next{
        h4{
            margin-top: 8px;
            line-height: 17px;
            margin-bottom: 0px;
        }
        p {
            font-size: 11px;
            line-height: 16px;
            margin-top: 5px;
        }
        margin-left: 104px
    }
    font-size: 11.5px;
    margin-left: 9px;
}
.content2{
    ul{
        list-style-image: url(../images/Capture.PNG);
        padding-left: 27px;
        font-weight: 700;
        font-size: 12px;
        #p1{
            position: absolute;
            top: 148px;
            left: 28px;
            width: 284px;
            line-height: 18px;
        }
        #p2{
            position: absolute;
            top: 196px;
            left: 28px;
            width: 284px;
            line-height: 18px;
        }
    }
    font-size: 13px; 
}
.footer{
    font-size: 12px;
    font-weight: 700;
    margin-left: 10px;
    margin-top: 57px;
    #email{
        color: rgb(189, 3, 3);
    }
    #nhaTR{
        color: gray;
    }
}