@import "include/_body";
@import "include/_theA";
@import "include/_bien";
@import "include/_img";
* {
    box-sizing: border-box;
}
body {
    @include body(586px, 229px);
    font-size: 13px;
    margin-top: 10px;
    margin-left: 6px;
    font-family: $font;
    border-left: 1px solid rgb(223, 219, 219);
    border-right: 1px solid rgb(212, 211, 211);
    border-bottom: 1px solid rgb(216, 213, 213);
    border-radius: 5px;
}
a {
    @include the_a(rgb(11, 11, 12));
}
.slideShow{
    display: inline-flex;
    overflow-x: auto;
    .stt {
        width: 180px;
        max-width: 100%;
        height: 100%;
        margin-right: 15px;
        // display: none;
        flex-shrink: 0;
        p {
            font-weight: 700;
        }
    }
}
.sliderNext {
    cursor: pointer;
    position: absolute;
    width: auto;
    padding: 30px 4.5px 30px 4.5px;
    margin-top: -204px;
    right: 56.6%;
    color: rgb(173, 166, 166);
    font-weight: bold;
    font-size: 30px;
    transition: 0.6s ease;
    border-radius: 5px 0px 0px 5px;
    user-select: none;
}
.sliderNext:hover {
    background-color: rgba(0,0,0,0.8);
  }
  .dot {
    cursor: pointer;
    height: 7px;
    width: 7px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  .dot:hover {
    background-color: #db0909;
  }
//   .slideShow {
//     background: red;
//     color: white;
//     width: 300px;
//     height: 300px;
//     display: flex;
//     overflow-x: auto;
//     -webkit-overflow-scrolling: touch;
//     scroll-behavior: smooth;
//     -webkit-scroll-snap-points-x: repeat(300px);
//     -ms-scroll-snap-points-x: repeat(300px);
//         scroll-snap-points-x: repeat(300px);
// -webkit-scroll-snap-type: mandatory;
//     -ms-scroll-snap-type: mandatory;
//         scroll-snap-type: mandatory;
//     .stt {
//         width: 300px;
//         flex-shrink: 0;
//         height: 100%;
//       }
//   }
  