a:hover {
  color: #9090a5; }

img {
  max-width: 100%;
  max-height: auto; }

body {
  width: 161px;
  height: 590px;
  margin: 0px;
  padding: 0px;
  max-width: 100%;
  font-size: 12px;
  margin-top: 10px;
  margin-left: 6px;
  font-family: Arial, Helvetica, sans-serif;
  border-left: 1px solid #dfdbdb;
  border-right: 1px solid #d4d3d3;
  border-bottom: 1px solid #d8d5d5;
  border-radius: 5px; }

.head #anh {
  position: relative; }

.head h3 {
  position: absolute;
  width: 160px;
  top: 8px;
  left: 16px;
  color: white; }

.index {
  width: 154px; }
  .index .anh {
    padding-top: 7px; }
  .index p {
    font-weight: 700;
    line-height: 19px;
    font-size: 13px; }

a {
  display: block;
  text-decoration: none;
  color: #2a2a2e;
  margin-left: 6px; }

hr {
  border: 0.1px solid #f3ebeb; }

#footer {
  color: #0fa30f;
  font-weight: 700; }
