a:hover {
  color: #9090a5; }

img {
  max-width: 100%;
  max-height: auto; }

* {
  box-sizing: border-box; }

body {
  width: 473px;
  height: 374px;
  margin: 0px;
  padding: 0px;
  max-width: 100%;
  font-size: 13px;
  margin-top: 10px;
  margin-left: 6px;
  font-family: Arial, Helvetica, sans-serif;
  border-left: 1px solid #dfdbdb;
  border-right: 1px solid #d4d3d3;
  border-bottom: 1px solid #d8d5d5;
  border-radius: 5px; }

a {
  display: block;
  text-decoration: none;
  color: #0b0b0c; }

.head {
  height: 30px;
  background: url(../images/box-sport_head.png);
  background-size: 473px 30px; }
  .head h3 {
    color: white;
    font-size: 12px;
    padding-top: 10px;
    padding-left: 42px; }

.tren {
  margin-top: 11px;
  margin-left: 14px; }
  .tren .trai {
    position: relative; }
  .tren .phai {
    position: absolute;
    top: 48px;
    width: 196px;
    left: 285px; }
    .tren .phai h3 {
      color: #0d0d9c; }

.duoi {
  margin-top: 13px;
  margin-left: 14px; }
  .duoi .slider {
    display: inline-flex; }
    .duoi .slider .stt1 {
      width: 226px;
      max-width: 100%; }
      .duoi .slider .stt1 p {
        color: #101083;
        font-weight: 700; }

.sliderPrev {
  cursor: pointer;
  position: absolute;
  width: auto;
  margin-top: 23px;
  padding: 13px;
  padding-left: 18px;
  color: #747070;
  font-weight: bold;
  font-size: 30px;
  transition: 0.6s ease;
  border-radius: 5px;
  user-select: none; }

.sliderPrev:hover {
  background-color: rgba(243, 236, 236, 0.5); }

.sliderNext {
  cursor: pointer;
  position: absolute;
  width: auto;
  padding: 13px;
  margin-top: 23px;
  right: 65.5%;
  color: #747070;
  font-weight: bold;
  font-size: 30px;
  transition: 0.6s ease;
  border-radius: 5px;
  user-select: none; }

.sliderNext:hover {
  background-color: rgba(243, 236, 236, 0.5); }
