a:hover {
  color: #9090a5; }

img {
  max-width: 100%;
  max-height: auto; }

* {
  box-sizing: border-box; }

body {
  width: 572px;
  height: 362px;
  margin: 0px;
  padding: 0px;
  max-width: 100%;
  font-size: 12px;
  margin-top: 10px;
  margin-left: 6px;
  font-family: Arial, Helvetica, sans-serif;
  border-left: 1px solid #dfdbdb;
  border-right: 1px solid #d4d3d3;
  border-bottom: 1px solid #d8d5d5;
  border-top: 5px solid #da0707;
  border-radius: 5px; }

a {
  display: block;
  text-decoration: none;
  color: #0b0b0c; }

.body1 {
  background-color: #222222; }

.head {
  display: inline-flex;
  position: relative;
  margin-left: 10px;
  margin-top: 10px; }
  .head h2 {
    padding-left: 12px;
    margin-top: 8px;
    color: white; }

.slideShow {
  display: inline-flex;
  width: 98%;
  overflow-x: hidden;
  margin-left: 10px; }
  .slideShow .stt {
    width: 180px;
    max-width: 100%;
    height: 100%;
    margin-right: 15px;
    flex-shrink: 0; }
    .slideShow .stt p {
      font-weight: 700; }

.sliderNext {
  cursor: pointer;
  position: absolute;
  width: auto;
  padding: 20px 1.5px 20px 1.5px;
  margin-top: -202px;
  right: 57.77%;
  color: #ada6a6;
  font-weight: bold;
  font-size: 30px;
  transition: 0.6s ease;
  border-radius: 5px 0px 0px 5px;
  user-select: none; }

.sliderNext:hover {
  background-color: #f30404; }

.text {
  position: absolute;
  left: 504px;
  top: 33px; }
  .text .dot {
    cursor: pointer;
    height: 7px;
    width: 7px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease; }

.dot:hover {
  background-color: #db0909; }
