a:hover {
  color: #9090a5; }

img {
  max-width: 100%;
  max-height: auto; }

body {
  width: 304px;
  height: 284px;
  margin: 0px;
  padding: 0px;
  max-width: 100%;
  margin-top: 10px;
  margin-left: 6px;
  font-family: Arial, Helvetica, sans-serif;
  border-left: 1px solid #dfdbdb;
  border-right: 1px solid #d4d3d3;
  border-bottom: 1px solid #d8d5d5;
  border-radius: 5px; }

a {
  display: block;
  text-decoration: none;
  color: #2a2a2e; }

.head {
  height: 37px;
  background: url(../images/index_head.png);
  background-size: 304px 37px; }
  .head h3 {
    color: white;
    font-size: 12px;
    padding-top: 12px;
    padding-left: 11px; }

.content1 {
  font-size: 11.5px;
  margin-left: 9px; }
  .content1 .anh {
    float: left;
    position: relative; }
  .content1 .next {
    margin-left: 104px; }
    .content1 .next h4 {
      margin-top: 8px;
      line-height: 17px;
      margin-bottom: 0px; }
    .content1 .next p {
      font-size: 11px;
      line-height: 16px;
      margin-top: 5px; }

.content2 {
  font-size: 13px; }
  .content2 ul {
    list-style-image: url(../images/Capture.PNG);
    padding-left: 27px;
    font-weight: 700;
    font-size: 12px; }
    .content2 ul #p1 {
      position: absolute;
      top: 148px;
      left: 28px;
      width: 284px;
      line-height: 18px; }
    .content2 ul #p2 {
      position: absolute;
      top: 196px;
      left: 28px;
      width: 284px;
      line-height: 18px; }

.footer {
  font-size: 12px;
  font-weight: 700;
  margin-left: 10px;
  margin-top: 57px; }
  .footer #email {
    color: #bd0303; }
  .footer #nhaTR {
    color: gray; }
