a:hover {
  color: #9090a5; }

img {
  max-width: 100%;
  max-height: auto; }

body {
  width: 304px;
  height: 559px;
  margin: 0px;
  padding: 0px;
  max-width: 100%;
  font-size: 12px;
  font-weight: 700;
  margin-top: 10px;
  margin-left: 6px;
  font-family: Arial, Helvetica, sans-serif;
  border-left: 1px solid #dfdbdb;
  border-right: 1px solid #d4d3d3;
  border-bottom: 1px solid #d8d5d5;
  border-radius: 5px; }

a {
  display: block;
  text-decoration: none;
  color: #2a2a2e; }

.head {
  height: 37px;
  background: url(../images/index_head.png);
  background-size: 304px 37px; }
  .head h3 {
    color: white;
    font-size: 12px;
    padding-top: 12px;
    padding-left: 11px; }

.content {
  margin-left: 9px; }
  .content img {
    float: left; }
  .content p {
    padding-left: 76px;
    padding-top: 16px; }
  .content .stt1 {
    margin-bottom: 50px; }
    .content .stt1 p {
      margin-top: 8px; }
  .content .stt2 {
    margin-bottom: 50px; }
  .content .stt3 {
    margin-bottom: 50px; }
  .content .stt4 {
    margin-bottom: 50px; }
  .content .stt5 {
    margin-bottom: 60px; }

.footer {
  font-size: 12px;
  font-weight: 700;
  margin-left: 10px;
  margin-top: 25px; }
  .footer #email {
    color: #bd0303; }
  .footer #nhaTR {
    color: gray; }
