a:hover {
  color: #9090a5; }

img {
  max-width: 100%;
  max-height: auto; }

* {
  box-sizing: border-box; }

body {
  width: 565px;
  height: 140px;
  margin: 0px;
  padding: 0px;
  max-width: 100%;
  font-size: 13px;
  margin-top: 10px;
  margin-left: 6px;
  font-family: Arial, Helvetica, sans-serif;
  border-left: 1px solid #dfdbdb;
  border-right: 1px solid #d4d3d3;
  border-bottom: 1px solid #d8d5d5;
  border-top: 1px solid #d8d5d5; }

a {
  display: block;
  text-decoration: none;
  color: #0b0b0c; }

.slider {
  display: inline-flex;
  position: relative; }
  .slider .stt {
    display: none; }
    .slider .stt .numbertext {
      width: 35px;
      font-size: 11.4px;
      position: absolute;
      left: 532px;
      top: 62px; }
    .slider .stt .content {
      margin-left: 214px;
      padding-right: 43px;
      margin-top: -123px; }
      .slider .stt .content span {
        font-size: 11px; }

.sliderPrev {
  margin-top: -118px;
  margin-left: 543px;
  cursor: pointer;
  position: absolute;
  top: 128px;
  left: -17px;
  width: auto;
  padding: 16px;
  color: #756e6e;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  user-select: none;
  border: 1px solid #d1cece; }

.sliderNext {
  margin-top: 86px;
  margin-left: 543px;
  cursor: pointer;
  position: absolute;
  top: 8px;
  left: -17px;
  width: auto;
  padding: 16px;
  color: #756e6e;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  user-select: none;
  border: 1px solid #d1cece; }
