a:hover {
  color: #9090a5; }

body {
  width: 594px;
  height: 392px;
  margin: 0px;
  padding: 0px;
  max-width: 100%;
  font-size: 14.5px;
  margin-top: 10px;
  margin-left: 6px; }

a {
  padding: 3.5px;
  display: block;
  text-decoration: none;
  color: white; }

.tren {
  display: inline-flex; }

.duoi {
  display: inline-flex; }

.content {
  margin-left: 13px; }
  .content p {
    margin-top: 10px;
    color: #3d3c3c; }
