<!--build:style_style1-->
    <link rel="stylesheet" href="assets/css/style1.css">
<!--/build:style_style1-->

<!--build:index1-->
    <div class="tren">
        <a href="#"><img src="assets/images/gallery-sort-1.png" alt="anh" width="194px" height="130px"></a>
        <a href="#"> <img src="assets/images/gallery-sort-2.png" alt="anh" width="187px" height="130px"></a>
        <a href="#"><img src="assets/images/gallery-sort-3.png" alt="anh" width="189px" height="130px"></a>
    </div>
    <div class="duoi">
        <a href="#"><img src="assets/images/gallery-sort-4.png" alt="anh" width="281px" height="196px"></a>
        <a href="#"> <img src="assets/images/gallery-sort-5.png" alt="anh" width="296px" height="196px"></a>
    </div>
    <div class="content">
        <p>Quán cô Tư nằm trên vỉa hè con đường Nguyễn Hữu Hào (quận 4).</p>
    </div>
<!--/build:index1-->