<!--build:style_style4-->
    <link rel="stylesheet" href="assets/css/style4.css">
<!--/build:style_style4-->

<!--build:index4-->
    <div class="head">
        <img id="anh" src="assets/images/index4_head.png" alt="anh" height="54px" width="163.3px">
        <a href="#">
            <h3>KHÁM SỨC KHỎE CHUYÊN SÂU</h3>
        </a>
    </div>
    <div class="index">
        <div class="anh">
            <a href="#"><img src="assets/images/index4.png" width="142.5px" height="142.5px"></a>
        </div>
        <a href="#">
            <p>6 lầm tưởng tai hại về vấn đề sức khỏe</p>
        </a>
        <a href="#"><span>"Loại bỏ ngay 6 lầm tưởng mà bạn luôn nghĩ là đơn giản ngay..."</span></a>
        <hr>
        <a href="#">
            <p>Những điều bác sĩ không nói với bạn!</p>
        </a>
        <hr>
        <a href="#">
            <p>Giảm 30% khám sức khỏe cá nhân tại Hồng Ngọc</p>
        </a>
        <hr>
        <a href="#">
            <p>Đang khỏe mạnh có cần đi khám sức khỏe không?</p>
        </a>
        <hr>
        <a href="#"><span id="footer">BV Hồng Ngọc</span></a>
    </div>
<!--/build:index4-->