<!--build:style_style9-->
    <link rel="stylesheet" href="assets/css/style9.css">
<!--/build:style_style9-->


<!-- build:index9 -->
    <div class="body1">
        <div class="head">
            <a href="#"><h1 style="color:orangered;">e</h1></a>
            <a href="#"><h1 style="color: rgb(255, 255, 255);">Magazine</h1></a>
        </div>
        <div class="text">
            <span class="dot" onclick="currentSlide(1)"></span>
            <span class="dot" onclick="currentSlide(2)"></span>
            <span class="dot" onclick="currentSlide(3)"></span>
            <span class="dot" onclick="currentSlide(4)"></span>
        </div>
        <div class="slideShow">
            <div class="stt">
                <a href="#"><img src="assets/images/gallery_1.png" width="210px" height="131px"></a>
                <a href="#">
                    <p>Kỳ tích mang tên BTS: 10 hay 20 năm sau, họ có thể tự hào mà kể lại câu chuyện về một nhóm nhạc
                        làm nên lịch sử</p>
                </a>
            </div>
            <div class="stt">
                <a href="#"><img src="assets/images/gallery_2.png" width="210px" height="131px"></a>
                <a href="#">
                    <p>Nhật ký cai nghiện: Những chuỗi ngày chiến đấu với "quái vât" khủng khiếp nhất để giành lấy tương
                        lai</p>
                </a>
            </div>
            <div class="stt">
                <a href="#"><img src="assets/images/gallery_1.png" width="210px" height="131px"></a>
                <a href="#">
                    <p>Căn nhà 5 tầng ở Sài Gòn chìm trong biển lửa, hàng trăm chiến sỹ cứu hỏa mỗ lực chữa để cứu vót những thứ còn xót lại </p>
                </a>
            </div>
            <div class="stt" style="display: none">
                <a href="#"><img src="assets/images/gallery_2.png" width="210px" height="131px"></a>
                <a href="#">
                    <p>Bộ phim đang ăn khách nhất hiện nay là cô nàng lắm chiêu đã chinh phục nhiều giải thưởng lớn và rất nhiều khán giả trong suốt quá trình phát sóng</p>
                </a>
            </div>
            <div class="stt" style="display: none">
                <a href="#"><img src="assets/images/gallery_1.png" width="210px" height="131px"></a>
                <a href="#">
                    <p>Sau rất nhiều thời gian trong khoảng 10 hay 20 năm sau, họ có thể tự hào mà kể lại câu chuyện về một nhóm nhạc
                        làm nên lịch sử</p>
                </a>
            </div>
            <div class="stt" style="display: none">
                <a href="#"><img src="assets/images/gallery_2.png" width="210px" height="131px"></a>
                <a href="#">
                    <p>Căn nhà 5 tầng ở Sài Gòn chìm trong biển lửa, hàng trăm chiến sỹ cứu hỏa mỗ lực chữa... </p>
                </a>
            </div>
        </div>
        <div class="sliderNav">
            <a class="sliderNext" onclick="plusSlides('1')">&#10140;</a>
        </div>
        <br>
        <!-- /build:index9 -->

        <!-- build:script9-->
        <script>
            var slideIndex = 2;
            function plusSlides(n) {
                slideIndex = n * 1 + slideIndex;
                showSlides(slideIndex);
            }
            function currentSlide(n) {
                showSlides(slideIndex = n);
            }
            function showSlides(n) {
                var slides = document.getElementsByClassName("stt");
                var dots = document.getElementsByClassName("dot");
                if (slideIndex > slides.length - 1) {
                    slideIndex = slides.length - 1;
                } else if (slideIndex < 2) {
                    slideIndex = 2;
                } else {
                    for (i = 0; i < slides.length; i++) {
                        slides[i].style.display = "none";
                    }
                    for (i = 0; i < dots.length; i++) {
                        slides[i].style.display = "none";
                    }
                    slides[slideIndex - 2].style.display = "block";
                    slides[slideIndex - 1].style.display = "block";
                    slides[slideIndex].style.display = "block";
                }

            }
        </script>
<!-- /build:script9-->

</html>