<!--build:style_style2-->
    <link rel="stylesheet" href="assets/css/style2.css">
<!--/build:style_style2-->

<!--build:index2-->
    <div class="head">
        <a href="#"><h3>TƯ VẤN SINH Ý NGƯỜI BỆNH GÚT</h3></a>
    </div>
    <div class="content1">
        <div class="anh">
            <a href="#"><img src="assets/images/index2.png" alt="anh" height="91px" width="91px"></a> 
        </div>
        <div class="next">
            <a href="#"><h4>Cách giúp chấm dứt bệnh gút chỉ sau 3 tháng của một kế</h4></a>
            <a href="#"><p>Chỉ sau 3 tháng, sức khỏe của chú Hỷ đã trở lại bình thường, cơn đau gút hầu như không...</p></a>
        </div>
    </div>
    <div class="content2">
        <ul>
            <li style="margin-bottom: 22px;"><a href="#"> <p id="p1">Bước tiến quan trọng tăng cường sinh lý cho người bệnh gút </p></a></li>
            <li> <a href="#"> <p id="p2">"Viagra tự nhên" giúp người bệnh gút là "mãnh hổ" phòng the </p></a></li> 
        </ul>
    </div>
    <div class="footer">
        <p><span id="email">hoangtiendan.com.vn</span> <span id="nhaTR">tài trợ thông tin</span></p>
    </div>
<!--/build:index2-->