<!--build:style_style8-->
<link rel="stylesheet" href="assets/css/style8.css">
<!--/build:style_style8-->

<!-- build:index8 -->
<div class="body1">
    <div class="head">
        <a href="#"><img src="assets/images/step10_head.PNG"></a>
        <a href="#">
            <h2>PHOTOSTORY</h2>
        </a>
    </div>
    <div class="text">
        <span class="dot" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(2)"></span>
        <span class="dot" onclick="currentSlide(3)"></span>
        <span class="dot" onclick="currentSlide(4)"></span>
    </div>
    <div class="slideShow">
        <div class="stt">
            <a href="#"><img src="assets/images/step10_1.png" width="209px" height="277.5px"></a>
        </div>
        <div class="stt">
            <a href="#"><img src="assets/images/step10_2.png" width="209px" height="277.5px"></a>
        </div>
        <div class="stt">
            <a href="#"><img src="assets/images/step10_1.png" width="209px" height="277.5px"></a>
        </div>
        <div class="stt" style="display: none;">
            <a href="#"><img src="assets/images/step10_2.png" width="209px" height="277.5px"></a>
        </div>
        <div class="stt" style="display: none;">
            <a href="#"><img src="assets/images/step10_1.png" width="209px" height="277.5px"></a>
        </div>
        <div class="stt" style="display: none;">
            <a href="#"><img src="assets/images/step10_2.png" width="209px" height="277.5px"></a>
        </div>
    </div>
    <div class="sliderNav">
        <a class="sliderNext" onclick="plusSlides('1')">&#10140;</a>
    </div>
    <br>


</div>
<!-- /build:index8 -->
<!-- build:script8-->
<script>
    var slideIndex = 2;
    function plusSlides(n) {
        slideIndex = n * 1 + slideIndex;
        showSlides(slideIndex);
    }
    function currentSlide(n) {
        showSlides(slideIndex = n);
    }
    function showSlides(n) {
        var slides = document.getElementsByClassName("stt");
        var dots = document.getElementsByClassName("dot");
        if (slideIndex > slides.length - 1) {
            slideIndex = slides.length - 1;
        } else if (slideIndex < 2) {
            slideIndex = 2;
        } else {
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            for (i = 0; i < dots.length; i++) {
                slides[i].style.display = "none";
            }
            slides[slideIndex - 2].style.display = "block";
            slides[slideIndex - 1].style.display = "block";
            slides[slideIndex].style.display = "block";
        }

    }
</script>
<!-- /build:script8-->

</html>