<!--build:style_style7-->
    <link rel="stylesheet" href="assets/css/style7.css">
<!--/build:style_style7-->
<!-- build:index7 -->
    <div class="slider">
        <div class="stt">
            <a href="#"> <img src="assets/images/step12_1.png" width="200px" height="126px"></a>
            <div class="content">
                <a href="#"> <p> [Tin vừa lên]</p></a>
                <a href="#" style="border-right: 1px solid rgb(212, 211, 211);"> <h3> Đến hẹn lại lên, gà YG lại bị KBS "cấm cửa" và Black Pink cũng không thoát</h3></a>
                <a href="#"> <span> Musik</span></a>
            </div>
            <div class="numbertext">1/3</div>
        </div>
        <div class="stt">
            <div class="numbertext">2/3</div>
            <a href="#"> <img src="assets/images/step11_2.png" width="200px" height="126px"></a>
            <div class="content">
            <a href="#"> <p> [Tin hot]</p></a>
            <a href="#" style="border-right: 1px solid rgb(212, 211, 211);"> <h3> Tranh cãi trong trận đấu giữa cầu thủ và trọng tài</h3></a>
            <a href="#"> <span> Thể thao</span></a>
            </div>
        </div>
        <div class="stt">
            <div class="numbertext">3/3</div>
            <a href="#"> <img src="assets/images/step11_3.png" width="200px" height="126px"></a>
            <div class="content">
            <a href="#"> <p> [Tin lên 2h]</p></a>
            <a href="#" style="border-right: 1px solid rgb(212, 211, 211);"> <h3> Cháy rừng lớn khiến cây cối rừng cháy, khói khiến động vật gột khí</h3></a>
            <a href="#"> <span> Đời sống</span></a>
        </div>
        </div>
    </div>
    <div class="sliderNav">
        <a class="sliderPrev " onclick="plusSlides(-1);">&#8710;</a>
        <a class="sliderNext " onclick="plusSlides(1);">&#8711;</a>
    </div>
    <!-- /build:index7 -->
    <!-- build:script7-->
    <script>
        var slideIndex = 1;
        showSlides(slideIndex);
        
        function plusSlides(n) {
          showSlides(slideIndex += n);
        }  
        function showSlides(n) {
          var i;
          var slides = document.getElementsByClassName("stt");
          if (n > slides.length) {slideIndex = 1}    
          if (n < 1) {slideIndex = slides.length}
          for (i = 0; i < slides.length; i++) {
              slides[i].style.display = "none";  
          }
          slides[slideIndex-1].style.display = "block";  
        }
        </script>
    <!-- /build:script7-->
</html>