<!--build:style_style5-->
    <link rel="stylesheet" href="assets/css/style5.css">
<!--/build:style_style5-->
<!--build:index5-->
    <div class="head">
        <div id="s1"><a href="#">
                <h3>FIFA WORLD CUP</h3>
            </a></div>
        <div id="s2"><a href="#">
                <h3>RUSSIA 2018</h3>
            </a></div>
    </div>
    <div class="tren">
        <div class="trai">
            <a href="#"><img src="assets/images/box-sport_1.png" width="251px" height="151px"></a>
        </div>
        <div class="phai">
            <a href="#">
                <h3>Argentina - Croatia: Gánh nặng ngàn cân của Messi</h3>
            </a>
            <a href="#">
                <p>(Dân trí) - Argentia đang chịu nhiều áp lực sau trận hòa Iceland. Ở lượt
                    thứ hai bảng D World Cup 2018, Messi và đồng đội sẽ hứng chịu rất nhiều sức...</p>
            </a>
        </div>
    </div>
    <div class="sliderNav">
        <a class="sliderPrev " onclick="plusSlides('-1');">&#10094;</a>
        <a class="sliderNext " onclick="plusSlides('1');">&#10095;</a>
    </div>
    <div class="duoi">
        <div class="slider fade" style="display: flex">
            <div class="stt1">
                <a href="#"><img src="assets/images/box-sport_2.png" width="142px" height="90px"></a>
                <a href="#">
                    <p>Pháp - Peru: Bước ngoặt quyết định</p>
                </a>
            </div>
            <div class="stt1">
                <a href="#"><img src="assets/images/box-sport_2.png" width="142px" height="90px"></a>
                <a href="#" style="padding-right: 7px;">
                    <p>Mohamed Salad sớm chia tay World Cup 2018</p>
                </a>
            </div>
            <div class="stt1">
                <a href="#"><img src="assets/images/box-sport_2.png" width="142px" height="90px"></a>
                <a href="#">
                    <p>Xác định hai đội đi tiếp ba đội bị loại ở World Cup</p>
                </a>
            </div>
            <div class="stt1" style="display: none">
                <a href="#"><img src="assets/images/box-sport_2.png" width="142px" height="90px"></a>
                <a href="#">
                    <p>4444444</p>
                </a>
            </div>
            <div class="stt1" style="display: none">
                <a href="#"><img src="assets/images/box-sport_2.png" width="142px" height="90px"></a>
                <a href="#">
                    <p>555555</p>
                </a>
            </div>
            <div class="stt1" style="display: none">
                <a href="#"><img src="assets/images/box-sport_2.png" width="142px" height="90px"></a>
                <a href="#">
                    <p>666666</p>
                </a>
            </div>
        </div>
    </div>
    
    </div>
    <!--/build:index5-->
    <!--build:script5-->
    <script>
        var slideIndex = 2;
        function plusSlides(n) {
            slideIndex = n*1 +slideIndex;
            showSlides(slideIndex);
        }
        function showSlides(n) {
            var slides = document.getElementsByClassName("stt1");
            if (slideIndex > slides.length-1){
                slideIndex = slides.length-1;
            }else if (slideIndex < 2){
                slideIndex = 2;
            }else{
                for (i = 0; i < slides.length; i++) {
                    slides[i].style.display = "none";
                }
                slides[slideIndex-2].style.display = "block";
                slides[slideIndex-1].style.display = "block";
                slides[slideIndex].style.display = "block";
            }
        }
    </script>
<!--/build:script5-->