<!--build:style_style6-->
    <link rel="stylesheet" href="assets/css/style6.css">
<!--/build:style_style6-->

<!-- build:index6 -->
    <div class="slideShow">
        <div class="stt">
            <a href="#"><img src="assets/images/step11_3.png" width="200px" height="126px"></a>
            <a href="#">
                <p>Ngày quốc tế Selfile đang " lừa tình" mà mọi người lại quan tâm có đáng giá nhé!</p>
            </a>
        </div>
        <div class="stt">
            <a href="#"><img src="assets/images/step11_2.png" width="200px" height="126px"></a>
            <a href="#">
                <p>Cầu thủ Morocco tố trọng tài lén lút xin áo đấu của Ronaldo</p>
            </a>
        </div>
        <div class="stt">
            <a href="#"><img src="assets/images/step11_3.png" width="200px" height="126px"></a>
            <a href="#">
                <p>Căn nhà 5 tầng ở Sài Gòn chìm trong biển lửa, hàng trăm chiến sỹ cứu hỏa mỗ lực chữa... </p>
            </a>
        </div>
        <div class="stt" style="display: none">
            <a href="#"><img src="assets/images/step11_3.png" width="200px" height="126px"></a>
            <a href="#">
                <p>Ngày quốc tế Selfile đang " lừa tình" mà mọi người lại quan tâm có đáng giá nhé!</p>
            </a>
        </div>
        <div class="stt" style="display: none">
            <a href="#"><img src="assets/images/step11_2.png" width="200px" height="126px"></a>
            <a href="#">
                <p>Cầu thủ Morocco tố trọng tài lén lút xin áo đấu của Ronaldo</p>
            </a>
        </div>
        <div class="stt" style="display: none">
            <a href="#"><img src="assets/images/step11_3.png" width="200px" height="126px"></a>
            <a href="#">
                <p>Căn nhà 5 tầng ở Sài Gòn chìm trong biển lửa, hàng trăm chiến sỹ cứu hỏa mỗ lực chữa... </p>
            </a>
        </div>
    </div>
    <div class="sliderNav">
        <a class="sliderNext" onclick="plusSlides('1')">&#10140;</a>
    </div>
    <br>

    <div style="text-align:center">
        <span class="dot" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(2)"></span>
        <span class="dot" onclick="currentSlide(3)"></span>
        <span class="dot" onclick="currentSlide(4)"></span>
    </div>
<!-- /build:index6 -->
<!-- build:script6-->
    <script>
        var slideIndex = 2;
        function plusSlides(n) {
            slideIndex = n * 1 + slideIndex;
            showSlides(slideIndex);
        }
        function currentSlide(n) {
            showSlides(slideIndex = n);
        }
        function showSlides(n) {
            var slides = document.getElementsByClassName("stt");
            var dots = document.getElementsByClassName("dot");
            if (slideIndex > slides.length - 1) {
                slideIndex = slides.length - 1;
            } else if (slideIndex < 2) {
                slideIndex = 2;
            } else {
                for (i = 0; i < slides.length; i++) {
                    slides[i].style.display = "none";
                }
                for (i = 0; i < dots.length; i++) {
                    slides[i].style.display = "none";
                }
                slides[slideIndex - 2].style.display = "block";
                slides[slideIndex - 1].style.display = "block";
                slides[slideIndex].style.display = "block";
            }

        }
    </script>
<!-- /build:script6-->